<!DOCTYPE html>
<html>

<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
<script>
    var ref = new Firebase("https://authapptest.firebaseio.com");
    
    ref.authWithPassword({
        email:"morevishal142@gmail.com",
        password:"Vish@123"
    },
    function(error,authData){
        if(error){
            console.log("login faild",error);
        }
        else{
            ref.set("Hiraji");
            console.log("login sucessful",authData.uid);
        }
    }
 );
    
</script>
    <body>
    
    </body>
</html>